div{
	display: block;
}
.back-link{
    padding: 3px 5px;
    background: green;
    color: #fff;
    border: 2px solid green;
    float: left;
    margin: 13px 22px;
}
.info-search{
	float: right; 
}
.search-area{
	width: 380px;
    margin-bottom: 3px;
    margin-left: 12px;
    margin-top: 10px;
}
.search-submit
{
	position: relative;
    height: 33px;
    width: 107px;
    border: 1px solid #3385FF;
    background: #3385FF;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-family: "微软雅黑";
    padding-right: 2px;
    padding-left: 2px;
    cursor: pointer;
    left: -4px;
    margin-right: 110px;
    top: 1px;
}
.content-background{
	background: #F8F8F8;
}
a:hover
{
    background: #ECECEC;
}
.content-left{
	float: left;
	border-right: 1px solid #ccc;
    width: 18%;
}
.dir-link-left{
    display: block;
    width: 50px;
    height: 96px;
    margin-left: 50%;
    margin-top: 80%;
    background-image: url(../img/left.png);
}
.dir-link-right{
    display: block;
    width: 50px;
    height: 96px;
    margin-left: 30%;
    margin-top: 80%;
    background-image: url(../img/right.png);
}
.content{
	float: left;
    padding: 65px 58px;
    margin: 0 auto;
    width: 64%;
    background: #FFFFFF;
}
.content-right{
	float: left;
	border-left: 1px solid #ccc;
    width: 18%;
}
.top{
	height: 58px;
    background-color: #555251;
    border: 1px solid #474645;
}

.key-word h1{
	display: inline-block;
    font-size: 16px;
    color: #fff;
    margin-left: 20px;
    float: left;
    margin-top: 17px;
    overflow: hidden;
    width: 200px;
}