.content{
    width: 60%;
    margin-top:20px; 
    margin-left: 117px; 
}

.list-main-info{
    font-size: 16px;
    font-weight: normal;
    color: #2F00CC;
}
.list-main-info:visited{
    color: #551A8B;
}
.web-link{
    color: #008000;
    font-size: 13px;
    margin-right: 10px;
}
.download-link
{
    color: #66667A;
    font-size: 13px;
    text-decoration: underline;
}
a.web-link:hover,
a.download-link:hover{
    text-decoration: underline;
}
.logo{
    width: 60px;
    height: 60px;
    margin-left: 39px;
}
.info-search{
	margin-top: 30px;
}
.search-area{
	width: 380px;
    margin-bottom: 15px;
    margin-left: 12px;
    margin-top: 10px;
}
.search-submit
{
	position: relative;
    height: 33px;
    width: 107px;
    border: 1px solid #3385FF;
    background: #3385FF;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-family: "微软雅黑";
    padding-right: 2px;
    padding-left: 2px;
    cursor: pointer;
    left: -4px;
    margin-right: 110px;
    top: 1px;
}
.back-link{
    float:right;margin-right:30px; margin-top:25px;
}
.tip-info{
    background: #f8f8f8;
    line-height: 36px;
    height: 38px;
    width: 100%;
    padding-left: 117px;
}
.tip-info label{
    float: left;
    width: 250px;
    font-size: 14px;
    font-family: "宋体";
    font-weight: normal;
}
  